<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ODD WIDGETS</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


    <script>
        function formSubmit() {
            var fields = ["name", "sname", "email", "mobile", "orgaizationname", "town", "province", "title", "city", "description", "problem", "impact", "stage", "similar", "users", "extra", "money", "education"]
            var fieldnames = ["Name", "Surname", "Email", "Phone", "Organization Name", "Town", "Province", "Project Title", "City", "Project Description", "Problem", "Impact", "Stage", "Similar", "Users", "Resources Needed", "Financial", "Education"]
            var i, l = fields.length;
            var fieldname;
            var description;
            for (i = 0; i < l; i++) {
                fieldname = fields[i];
                description = fieldnames[i];
                if (document.forms["foo"][fieldname].value === "" || document.forms["foo"][fieldname].value === null) {
                    alert(description + " field cannot be empty. Please complete ALL fields unless they are marked optional.");
                    document.getElementById(fieldname).focus();
                    return false;
                }
            }
            document.getElementById("submitbutton").textContent = "Successfully submitted!";
            return true;

        } </script>

</head>

<body id="page-top" class="index">

<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">ODD WIDGETS</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <!--<ul class="nav navbar-nav navbar-right">-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section2">Cities</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section3">Awards</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section4">Enter</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section5">Rules</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section6">Tools</a>-->
                <!--</li>-->
                <!--<li class="page-scroll">-->
                    <!--<!a href="#section7">About</a>-->
                <!--</li>-->
            <!--</ul>-->
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Home Section-->
<section class="success" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: center">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                        </div>
                    </div>
                </div>
            </div>
        </div>
</section>

<!--&lt;!&ndash; Section 1&ndash;&gt;-->
<!--<section class="success" id="section 1">-->
<!--</section>-->

<!--&lt;!&ndash; Section 2 Section &ndash;&gt;-->
<!--<section class="success" id="section 2">-->
<!--</section>-->

<!--&lt;!&ndash; Section 3 Section &ndash;&gt;-->
<!--<section class="success" id="section 3">-->
<!--</section>-->

<!--&lt;!&ndash; Section 4 Section &ndash;&gt;-->
<!--<section class="success" id="section 4">-->
<!--</section>-->

<!--&lt;!&ndash; Section 5 Section &ndash;&gt;-->
<!--<section class="success" id="section 5">-->
<!--</section>-->

<!--&lt;!&ndash; Section 6 Section &ndash;&gt;-->
<!--<section class="success" id="section 6">-->
<!--</section>-->

<!--&lt;!&ndash; Section 7 Section &ndash;&gt;-->
<!--<section class="success" id="section 7">-->
<!--</section>-->

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>
<!-- jQuery -->
<script src="/static/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="/static/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/cbpAnimatedHeader.js"></script>
<!-- Contact Form JavaScript -->
<script src="/static/js/jqBootstrapValidation.js"></script>
<script src="/static/js/contact_me.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/freelancer.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="/static/js/google-sheet.js"></script>

</body>
</html>